/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN ROOT */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* REMOVE VITE CENTERING */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0b0e14;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
}

/* ROOT SHOULD NOT LIMIT WIDTH */
#root {
  width: 100%;
}
